# ---------------- Python ----------------
__pycache__/
*.py[cod]
*.pyo

# ---------------- Virtual Environment ----------------
venv/

# ---------------- Environment Variables ----------------
.env

# ---------------- Editor / IDE ----------------
.vscode/
.idea/
*.swp
*.swo

# ---------------- Logs ----------------
*.log

# ---------------- OS Files ----------------
.DS_Store
Thumbs.db

# ---------------- Playwright / Browsers ----------------
playwright-report/
ms-playwright/
node_modules/

# ---------------- Docker ----------------
*.dockerfile
docker-compose.override.yml
